<!DOCTYPE html>
<html>

<head>
    <meta charset=UTF-8>
    <title>Statistics</title>
</head>

<body>

<!-- About Modal -->
<div class="modal fade" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="activityModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="activityModalLabel">Statistics
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"># of Free Food Events All-Time
                            <span id="number-of-posts-all-time"
                                  class="badge badge-pill badge-warning">{{ posts_all_time_count }}</span>
                        </li>

                        <li class="list-group-item"># of Users
                            <span id="unique-visitors-count"
                                  class="badge badge-pill badge-warning">{{ unique_visitors_count }}</span>

                        </li>
                        <li class="list-group-item"># of Notification Subscribers
                            <span id="subscribers-count"
                                  class="badge badge-pill badge-warning">{{ subscribers_count }}</span>
                        </li>
                    </ul>
                </div>
{#                <table>#}
{#                    <tr style="border-bottom: 1px solid #000;border-color: white">#}
{#                        <td>#}
{#                            <span style="display: table;margin: 0 auto;">#}
{#                            Number of Free Food Events All-Time#}
{#                            </span>#}
{#                        </td>#}
                        {#                        <td style="border-left: 1px solid #000;#}
                        {#                     border-color: white">#}
                        {#                            <span style="display: table;margin: 0 auto;">#}
                        {#                            Number of Free Food Events Today#}
                        {#                            </span>#}
                        {#                        </td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td style="#}
                                {#border-right: 1px solid #000; #}
{#                                border-color: white">#}
{#                            <span id="number-of-posts-all-time" style="display: table;margin: 0 auto;">#}
{#                                <span id="number-of-posts-all-time"#}
{#                                      class="badge badge-pill badge-warning">{{ posts_all_time_count }} posts </span>#}
{#                            </span>#}
{#                        </td>#}
                        {#                        <td style="border-left: 1px solid #000;#}
                        {#                      border-color: white">#}
                        {#                            <span id="number-of-posts-today" style="display: table;margin: 0 auto;">#}
                        {#                                Coming Soon!#}
                        {#                            </span>#}
                        {#                        </td>#}
{##}
{#                    </tr>#}
{#                </table>#}
{#                <div style="height: 2rem;"></div>#}
{#                <table>#}
{#                    <tr style="border-bottom: 1px solid #000;border-color: white">#}
{#                        <td>#}
{#                            <span style="display: table;margin: 0 auto;">#}
{#                            Number of Users#}
{#                            </span>#}
{#                        </td>#}
{#                        <td style="border-left: 1px solid #000;#}
{#                     border-color: white">#}
{#                            <span style="display: table;margin: 0 auto;">#}
{#                            Number of Notification Subscribers#}
{#                            </span>#}
{#                        </td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td style="#}
{#                     border-right: 1px solid #000; border-color: white">#}
{#                            <span style="display: table;margin: 0 auto;">#}
{#                                <span id="unique-visitors-count"#}
{#                                      class="badge badge-pill badge-warning">{{ unique_visitors_count }} people</span>#}
{#                            </span>#}
{#                        </td>#}
{#                        <td style="border-left: 1px solid #000;#}
{#                      border-color: white">#}
{#                            <span style="display: table;margin: 0 auto;">#}
{#                                <span id="subscribers-count"#}
{#                                      class="badge badge-pill badge-warning">{{ subscribers_count }} people</span>#}
{#                            </span>#}
{#                        </td>#}
{##}
{#                    </tr>#}
{#                </table>#}
{#                <div style="height: 2rem;"></div>#}
{#                <table>#}
{#                    <tr>#}
{#                        <td>#}
{#                            <span style="display: table;margin: 0 auto;">#}
{#                            food 4 u Leaderboard Scores#}
{#                            </span>#}
{#                        </td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td style="border-top: 1px solid #000;#}
{#                     border-color: white">#}
{#                            <span style="display: table;margin: 0 auto;">#}
{#                                <span class="badge badge-pill badge-warning">Coming Soon!</span>#}
{#                            </span>#}
{#                        </td>#}
{#                    </tr>#}
{#                </table>#}
            </div>
        </div>
    </div>
</div>

</body>
</html>