<div id="commentsCheck" data-event-id="{{ event.id }}">
    {% if op_is_subscribed %}
        <p> The OP <span style="color: limegreen">will receive</span> comment notifications to their email.</p>
    {% else %}
        <p> The OP <span style="color: red">will not receive</span> comment notifications to their email.</p>
    {% endif %}
    <p>Check/uncheck the checkbox below to instantly change your email settings for comment notifications for this event:</p>
    {% if user_is_subscribed %}
        <span>
                    <label class="form-check-label" for="wants-comment-notifications">
                    <input type="checkbox" class="form-check-input" id="wants-comment-notifications"
                           data-event-id="{{ event.id }}" checked>
                         Opt-in to receive comment notifications
                         to your "@princeton.edu" email for this event
                    </label>
                </span>
    {% else %}
        <span>
                    <label class="form-check-label" for="wants-comment-notifications">
                    <input type="checkbox" class="form-check-input" id="wants-comment-notifications"
                           data-event-id="{{ event.id }}">
                         Opt-in to receive comment notifications
                         to your "@princeton.edu" email for this event
                    </label>
                </span>
    {% endif %}
    <div class="panel panel-default">
        <div class="table-responsive" style="white-space: normal !important;">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th class="col-xs-3" style="white-space: normal !important;">NetID</th>
                    <th class="col-xs-4" style="white-space: normal !important;">Comment</th>
                    <th class="col-xs-4" style="white-space: normal !important;">Comment Time</th>
                    <th class="col-xs-3" style="white-space: normal !important;">Delete?</th>
                </tr>
                </thead>
                <tbody>
                {% for comment in event_comments %}
                    {% if comment.net_id == original_poster_net_id and username == original_poster_net_id %}
                        <!-- Always shows OP's NetID -->
                        <tr>
                            <th scope="row" style="white-space: normal !important;">{{ comment.net_id }} (you/OP)</th>
                            <td style="white-space: normal !important;">{{ comment.comment }}</td>
                            <td style="white-space: normal !important;">{{ get_est_time_string_from_utc_dt(comment.response_time) }}</td>
                            <td>
                                <a class="delete" title="Delete" onclick="deleteComment('{{ comment.id }}')">
                                    <i class="material-icons" style="color: red !important;">&#xE872;</i>
                                </a>
                            </td>
                        </tr>
                    {% elif comment.net_id == original_poster_net_id %}
                        <!-- Always shows OP's NetID -->
                        <tr>
                            <th scope="row" style="white-space: normal !important;">{{ comment.net_id }} (OP)</th>
                            <td style="white-space: normal !important;">{{ comment.comment }}</td>
                            <td style="white-space: normal !important;">{{ get_est_time_string_from_utc_dt(comment.response_time) }}</td>
                            <td style="white-space: normal !important;"></td>

                        </tr>
                    {% elif comment.wants_anon_to_all and comment.net_id == username %}
                        <tr>
                            <th scope="row" style="white-space: normal !important;">Anonymous (you + invisible to all)
                            </th>
                            <td style="white-space: normal !important;">{{ comment.comment }}</td>
                            <td style="white-space: normal !important;">{{ get_est_time_string_from_utc_dt(comment.response_time) }}</td>
                            <td>
                                <a class="delete" title="Delete" onclick="deleteComment('{{ comment.id }}')">
                                    <i class="material-icons" style="color: red !important;">&#xE872;</i>
                                </a>
                            </td>
                        </tr>
                    {% elif comment.wants_anon_to_all %}
                        <tr>
                            <th scope="row" style="white-space: normal !important;">Anonymous</th>
                            <td style="white-space: normal !important;">{{ comment.comment }}</td>
                            <td style="white-space: normal !important;">{{ get_est_time_string_from_utc_dt(comment.response_time) }}</td>
                            <td style="white-space: normal !important;"></td>

                        </tr>
                    {% elif comment.wants_anon_but_op and comment.net_id == username %}
                        <tr>
                            <th scope="row" style="white-space: normal !important;">Anonymous (you + visible only by
                                OP)
                            </th>
                            <td style="white-space: normal !important;">{{ comment.comment }}</td>
                            <td style="white-space: normal !important;">{{ get_est_time_string_from_utc_dt(comment.response_time) }}</td>
                            <td>
                                <a class="delete" title="Delete" onclick="deleteComment('{{ comment.id }}')">
                                    <i class="material-icons" style="color: red !important;">&#xE872;</i>
                                </a>
                            </td>
                        </tr>
                    {% elif comment.wants_anon_but_op and original_poster_net_id == username %}
                        <tr>
                            <th scope="row" style="white-space: normal !important;">{{ comment.net_id }}</th>
                            <td style="white-space: normal !important;">{{ comment.comment }}</td>
                            <td style="white-space: normal !important;">{{ get_est_time_string_from_utc_dt(comment.response_time) }}</td>
                            <td style="white-space: normal !important;"></td>
                        </tr>
                    {% elif comment.wants_anon_but_op %}
                        <tr>
                            <th scope="row" style="white-space: normal !important;">Anonymous</th>
                            <td style="white-space: normal !important;">{{ comment.comment }}</td>
                            <td style="white-space: normal !important;">{{ get_est_time_string_from_utc_dt(comment.response_time) }}</td>
                            <td style="white-space: normal !important;"></td>
                        </tr>
                    {% elif comment.net_id == username %}
                        <tr>
                            <th scope="row" style="white-space: normal !important;">{{ comment.net_id }} (you)</th>
                            <td style="white-space: normal !important;">{{ comment.comment }}</td>
                            <td style="white-space: normal !important;">{{ get_est_time_string_from_utc_dt(comment.response_time) }}</td>
                            <td>
                                <a class="delete" title="Delete" onclick="deleteComment('{{ comment.id }}')">
                                    <i class="material-icons" style="color: red !important;">&#xE872;</i>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <th scope="row" style="white-space: normal !important;">{{ comment.net_id }}</th>
                            <td style="white-space: normal !important;">{{ comment.comment }}</td>
                            <td style="white-space: normal !important;">{{ get_est_time_string_from_utc_dt(comment.response_time) }}</td>
                            <td style="white-space: normal !important;"></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>