<!DOCTYPE html>
<html>

<head>
    <meta charset=UTF-8>
    <title>Edit Form</title>
</head>

<body>

<!-- Edit Form Modal -->
<div class="modal fade" id="editFormModal" tabindex="-1" role="dialog" aria-labelledby="editFormModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editFormModalLabel">Edit Your Event
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>

            </div>
            <form action="{{ url_for('main.handle_data_edit') }}" id="edit-form" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label required-field">Title</label>
                        <input type="text" id="edit_title" class="form-control" name="title" required maxlength="100">
                    </div>
                    <div class="form-group">
                        <label for="edit_location_building" class="col-form-label required-field">Building</label>
                        <input type="text" id="edit_location_building" class="form-control" name="location_building"
                               list="common_buildings" required maxlength="50"
                               onchange="setCommonBuilding(event, 'edit')">
                        <datalist id="common_buildings">
                            <option value="Butler College">Butler College</option>
                            <option value="Campus Club">Campus Club</option>
                            <option value="Carl A. Fields Center">Carl A. Fields Center</option>
                            <option value="Center for Jewish Life">Center for Jewish Life</option>
                            <option value="EQuad">EQuad</option>
                            <option value="Fine Hall">Fine Hall</option>
                            <option value="First College">First College</option>
                            <option value="Friend Center">Friend Center</option>
                            <option value="Frist Campus Center">Frist Campus Center</option>
                            <option value="Green Hall">Green Hall</option>
                            <option value="Lewis Library">Lewis Library</option>
                            <option value="Mathey College">Mathey College</option>
                            <option value="Murray-Dodge Hall">Murray-Dodge Hall</option>
                            <option value="Rocky College">Rocky College</option>
                            <option value="Whitman College">Whitman College</option>
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label for="edit_location_room" class="col-form-label required-field">Room</label>
                        <input type="text" id="edit_location_room" class="form-control" name="location_room" required
                               maxlength="50">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label required-field">Location</label>
                        <div id="map_canvas_edit">
                        </div>
                    </div>
                    <div class="col text-center">
                        <input type="button" id="currentLocationButton" class="btn btn-info btn-sm"
                               onclick="getCurrentLocationEditForm();"
                               value="Use My Current Location"
                        >
                    </div>
                    <!-- Get User Location in Lat,Lng format; need to integrate with form above's input -->
                    <input type="text" class="input-hidden" id="edit_lat" name="lat" required readonly>
                    <input type="text" class="input-hidden" id="edit_lng" name="lng" required readonly>
                    <input type="text" class="input-hidden" id="edit_event_id" name="eventId" required readonly>
                    <div class="form-group">
                        <label for="edit_time" class="col-form-label required-field">Time Available (Minutes)</label>
                        <input type="number" id="edit_time" class="form-control" name="time-left" value="60"
                               min=5 max=180 required>
                    </div>
                    <div class="form-group">
                        <label for="formFileMultiple" class="col-form-label">Edit Photos</label>
                        <div class="edit-container">
                            <!-- HTML heavily inspired by https://blueimp.github.io/jQuery-File-Upload/ -->
                            <div id="edit-actions" class="row">
                                <div id="photo-init-buttons">
                                    <!-- Take file input-button span is used to style the file input field as button -->
                                    <span class="btn btn-success fileinput-edit-button dz-clickable flex-container">
                                          <i class="glyphicon glyphicon-plus"></i>
                                          <span>Add photos</span>
                                    </span>
                                </div>
                            </div>
                            <div class="table table-striped files" id="edit-previews">
                                <div id="edit-template" class="file-row dz-image-preview">
                                    <!-- This is used as the file preview template -->
                                    <div>
                                        <span class="preview">
                                            <img data-dz-thumbnail class="edit-thumbnail">
                                        </span>
                                    </div>
                                    <div>
                                        <p class="name" data-dz-name></p>
                                    </div>
                                    <div>
                                        <button data-dz-remove class="btn btn-danger delete pull-right edit-delete">
                                            <i class="glyphicon glyphicon-trash"></i>
                                            <span>Delete</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Description</label>
                        <textarea class="form-control" name="description" accept="image/*" id="edit_description"
                                  style="white-space: pre-line;" maxlength="500"></textarea>
                    </div>
                    <input type="text" class="input-hidden" id="pic_URLs_for_deletion" name="pic_URLs_for_deletion"
                           readonly>
                </div>
            </form>
            <form action=/handleEventDelete id="editDeleteForm" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" class="input-hidden" id="edit_delete_event_id" name="idForDeletion" required
                           readonly>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" id="cancelFood" class="btn btn-secondary" data-dismiss="modal">
                    Cancel
                </button>
                <button type=submit id="editDeleteButton" form="editDeleteForm" class="btn btn-primary"
                        onclick="deleteWithoutRefresh(); return false">
                    Delete Your Event
                </button>
                <button type="submit" onclick="getEditFormCoordinates()" form="edit-form" id="editFood"
                        class="btn btn-primary">
                    Save Free Food Event
                </button>
            </div>
        </div>
    </div>
</div>

<script>

    let theseEditCoords = null;

    function getEditFormCoordinates() {
        theseEditCoords = {lat: editFormMarker.getPosition().lat(), lng: editFormMarker.getPosition().lng()}
        document.getElementById('edit_lat').value = theseEditCoords.lat;
        document.getElementById('edit_lng').value = theseEditCoords.lng;
    }

</script>

</body>
</html>
