<!DOCTYPE html>
<html>

<head>
    <link rel="apple-touch-icon" sizes="180x180"
          href={{ url_for('main.static', filename='images/favicon_package_v0.16/apple-touch-icon.png') }}>
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('main.static', filename='images/favicon_package_v0.16/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('main.static', filename='images/favicon_package_v0.16/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('main.static', filename='images/favicon_package_v0.16/site.webmanifest') }}">
    <link rel="mask-icon"
          href="{{ url_for('main.static', filename='images/favicon_package_v0.16/safari-pinned-tab.svg') }}"
          color="#5bbad5">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta id="my-data" data-name="{{ username | safe }}">
    <!-- Title -->
    <title>food 4 u</title>


    <!-- Link Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap"
            rel="stylesheet"
    />
    <!-- Material Icons CSS Library -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
          rel="stylesheet">

    <!-- Link Dropzone -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.js"></script>

    <!-- Link jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Moment JS  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

    <!-- Link BootStrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

    <!-- Link Marker Spidifier -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js"></script>


    <!-- Link SweetAlert2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Initializes event markers before loading the main Google Map -->
    <script>
        let initEvents = {{ events | safe }};
    </script>

    <!-- IntroJS -->
    <script src="https://unpkg.com/intro.js/minified/intro.min.js"></script>
    <link href="https://unpkg.com/intro.js/minified/introjs.min.css" rel="stylesheet">

    <!-- Socket IO 4.4.1 Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"
            integrity="sha512-MgkNs0gNdrnOM7k+0L+wgiRc5aLgl74sJQKbIWegVIMvVGPc1+gc1L2oK9Wf/D9pq58eqIJAxOonYPVE5UwUFA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Initializes all global variables for JS functions -->
    <script src="{{ url_for('main.static', filename='js/globalVariables.js') }}"></script>

    <!-- Link Source Files -->
    <script src="{{ url_for('main.static', filename='js/imageFunctions.js') }}"></script>
    <script src="{{ url_for('main.static', filename='js/textFunctions.js') }}"></script>
    <script src="{{ url_for('main.static', filename='js/markerFunctions.js') }}"></script>
    <script src="{{ url_for('main.static', filename='js/mapFunctions.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/index.css') }}">


    <!-- BootStrap JS Files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Link Notyf CSS Library -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
<!-- Link Notyf JS Library -->
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="{{ url_for('main.static', filename='js/alertFunctions.js') }}"></script>


{% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
        {% for msg in errors %}
            <script>notyf.error("{{ msg }}")</script>
        {% endfor %}
    {% endif %}
{% endwith %}

{% with successes = get_flashed_messages(category_filter=["success"]) %}
    {% if successes %}
        {% for msg in successes %}
            <script>notyf.success("{{ msg }}")</script>
        {% endfor %}
    {% endif %}
{% endwith %}

{% include 'navbar.html' %}

<!-- Map -->
<div id="map"></div>


{% include 'input_form_modal.html' %}

{% include 'edit_event_input_form_modal.html' %}

{% include 'feedback_modal.html' %}

{% include 'about_modal.html' %}

{% include 'notification_modal.html' %}

{% include 'tutorial_modal.html' %}

{% include 'welcome_modal.html' %}

{% include 'activity_modal.html' %}

{% include 'news_modal.html' %}

{% include 'attendance_modal.html' %}

{% include 'comments_modal.html' %}


<!-- The Image Modal -->
<div id="modal-image" class="modal-image">


    <!-- Modal Content (The Image) -->
    <img class="modal-content-image" id="modal-content-image">

    <!-- The Close Button -->
    <span class="close" onclick="closeImageModal();event.stopPropagation()">&times;</span>


</div>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9TRCt7oxBmM7I22eTFTFbb-_1k3BhaNw&callback=initMap&v=weekly&channel=2"
        async></script>

<script src="{{ url_for('main.static', filename='js/formFunctions.js') }}"></script>
<script src="{{ url_for('main.static', filename='js/intro.js') }}"></script>


<script>

    'use strict';

    let requestNotificationPreferences = null;

    function fetchNotificationPreferences() {
        if (requestNotificationPreferences != null)
            requestNotificationPreferences.abort();

        requestNotificationPreferences = $.ajax(
            {
                type: 'GET',
                contentType: "application/json",
                url: "/fetchNotificationPreferences",
                success:
                    function (notificationPreferences) {
                        prePopulateNotificationPreferences(notificationPreferences);
                    },
                dataType: 'json'
            }
        );
    }

    function setup() {
        dropzoneInit();

        // Start Socket_IO
        socket.on('subscribe', function (integer) {
            $("#subscribers-count").html(parseInt($('#subscribers-count').html(), 10) + integer)
        });

        socket.on('uniqueVisitor', function (integer) {
            $("#unique-visitors-count").html(parseInt($('#unique-visitors-count').html(), 10) + integer)
        });

        socket.on('postIncrement', function (integer) {
            $("#number-of-posts-all-time").html(parseInt($('#number-of-posts-all-time').html(), 10) + integer)
        });

        socket.on('update', function (events) {
            populateAdditionalMarkers(events);
            updateMarkers(events);
        })

        socket.on('active_event_count', function (count) {
            $("#active-event-count").html(count);
        })

        socket.on('update_attendees', function () {
            // if current view needs to be updated
            getAttendance($("#attendanceCheck").data("event-id"));
        })

        socket.on('update_comments', function () {
            // if current view needs to be updated
            getComments($("#commentsCheck").data("event-id"));
        })
        // End Socket_IO

        {% if check_first_time %}
            tutorial();
        {% endif %}
        {% if deeplinkEventID %}
            let ajaxCount = 0;
            $(document).ajaxStop(function () {
                ajaxCount += 1;
                if (ajaxCount === 1) {
                    setTimeout(clickMarkerByEventID.bind(null, {{ deeplinkEventID }}), 1000);
                }
            });
        {% endif %}
        fetchNotificationPreferences();
        window.setInterval(updateTime, 500);
        window.setInterval(getCurrentLocationMainMap, 10000);
        showHideCalendar();
        modalsRemoveEventIDs();
    }

    // Get the image modal
    const modalImg = document.getElementById("modal-image");

    // Get the image and insert it inside the modal
    const modalImgContent = document.getElementById("modal-content-image");

    // Get the <span> element that closes the modal
    const close = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    function closeImageModal() {
        $("#modal-image").hide();
    }

    $('document').ready(setup);

</script>

</body>
</html>
