<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>food 4 u | Find Free Food at Princeton University</title>
    <meta name="description"
          content="Search for free food events at Princeton University on a Google Maps user interface."/>
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/index.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index,nofollow"/>
</head>
<body>
<h1>This is the landing page</h1>
</body>
</html>