<!DOCTYPE html>
<html>

<head>
    <metacharset
    =UTF-8>
    <title>InfoWindow</title>
</head>

<body>
<div id="marker_content" style="max-width: 310px;">
    <h1 id=firstHeading>
        <strong>
            <div id="event_title_{{ event.id }}">{{ event.title }}</div>
        </strong>
    </h1>
    <div id=bodyContent>
        <div id="goingLineOptional_{{ event.id }}">
            {% if event_remaining_minutes > 0 %}
                <span id="going_line_{{ event.id }}">
            Attending This Event?
            <span>
                <button type="submit" class="btn btn-success btn-xs shadow-none"
                        id="goingButton" form="goingForm" onclick="goingWithoutRefresh(); return false">
                    Yes
                </button>
                <button type="submit" class="btn btn-danger btn-xs"
                        id="goingButton" form="goingForm" onclick="notGoingWithoutRefresh(); return false">
                    No
                </button>
            </span>
            <div>
                <form action="/handleGoing" id="goingForm" method="post" enctype="multipart/form-data">
                    <input type="text" class="input-hidden" id="idForGoing" name="idForGoing"
                           value="{{ event.id }}">
                    <input type="checkbox" id="goingSwitch" name="goingSwitch" hidden>
                </form>
            </div>
            <br>
            </span>
            {% endif %}
        </div>


        <div id="attendance_info_{{ event.id }}">
            <button type="button" class="btn btn-dark btn-xs" style="pointer-events: none;margin-bottom: 2px;">
                # of People Attending <span class="badge badge-dark"
                                            id="numberOfPeopleGoing">{{ number_of_people_going }}</span>
            </button>
            <br>
            <button type="button" class="btn btn-dark btn-xs" style="pointer-events: none; margin-bottom: 2px;">
                Attending Percentage <span class="badge badge-dark"
                                           id="goingPercentage">{{ going_percentage }}%</span>
            </button>
            <br>
            <button type="button" class="btn btn-dark btn-xs" style="pointer-events: none;">
                Host is Staying <span class="badge badge-dark"
                                      id="isHostThere">{{ is_host_there }}</span>
            </button>
            <br>
        </div>
        <br>

        <p id="remaining_time_{{ event.id }}" style="white-space: pre-line;">
            <strong>
            </strong>

        <div>at Building:</div>
        <strong>
            <span class="badge badge-info"
                  id="event_building_{{ event.id }}">{{ event.building }}</span>
        </strong>

        <div>in Room:</div>
        <strong>
            <span class="badge badge-info"
                  id="event_room_{{ event.id }}">{{ event.room }}</span>
        </strong>

        <div class="descriptionOptional">
            {% if event.description != "N/A" %}
                <div>Description:
                    <br>
                    <strong>
                        <div class="badge badge-info"
                             id="event_description_{{ event.id }}"
                             style="white-space: pre-line;">{{ event.description }}</div>
                    </strong>
                </div>
            {% endif %}</div>

        <div id="images_{{ event.id }}"></div>


        </p>
        <p id="orignalposter">
            Posted by <strong>{{ event.net_id }}</strong>: <em>{{ event_post_time }} EST </em>
        </p>
    </div>

    <div style="margin-bottom: 1rem">

        <div id=suffix_button_{{ event.id }}>
            {% if event_remaining_minutes > 10 %}
                <form action="/handleEventFlag" id="flagForm" method="post" enctype="multipart/form-data">
                    <input type="text" class="input-hidden" id="idForFlagging" name="idForFlagging"
                           value="{{ event.id }}">
                </form>
                <button type="submit" id="flagButton" form="flagForm" class="btn btn-primary"
                        onclick="flagWithoutRefresh(); return false">
                    Flag This Event as Ending
                </button>
            {% endif %}
        </div>

        {% if event_remaining_minutes > 0 %}
            <div id="directionsOptional_{{ event.id }}">
                <a id="directionsButton_{{ event.id }}"
                   href="https://www.google.com/maps/dir/?api=1&destination={{ event.latitude }},{{ event.longitude }}"
                   target="_blank"
                   class="btn btn-primary">
                    Get Directions
                </a>
            </div>
        {% endif %}
    </div>
</body>

</html>