<!DOCTYPE html>
<html>

<head>
    <metacharset
    =UTF-8>
    <title>InfoWindow</title>
</head>

<body>
<div id="marker_content" style="max-width: 310px;">
    <h1 id=firstHeading>
        <strong>
            <div id="event_title_{{ event.id }}"
                 style="-webkit-text-stroke: 1px black !important;
                -webkit-text-fill-color: #ffcc00 !important;
                font-weight: bold;
                font-family: Roboto, Arial, sans-serif;
	text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;"
            >{{ event.title }}</div>
        </strong>
    </h1>
    <div id=bodyContent>

        <button type="button"
                class="btn btn-light btn-xs"
                data-toggle="modal"
                data-target="#attendanceModal"
                style="margin-bottom: 2px;
                background-color: #5cb85c !important;"
                onclick="getAttendance('{{ event.id }}')">
            View/Add Attendance
        </button>
        <br>
        <button type="button"
                class="btn btn-light btn-xs"
                data-toggle="modal"
                data-target="#commentsModal"
                style="margin-bottom: 2px; background-color: #39cbe1 !important;"
                onclick="getComments('{{ event.id }}'); hideShowCommentSectionModal('{{ event.net_id }}');">
            Comments <span class="badge badge-dark"
                           id="numberOfComments_{{ event.id }}">{{ number_of_comments }}</span>
        </button>

        <div id="attendance_info_{{ event.id }}">
            <button type="button" class="btn btn-light btn-xs" style="pointer-events: none;margin-bottom: 2px;
background-color: #f3f2f2 !important;">
                # of People Attending <span class="badge badge-dark"
                                            id="numberOfPeopleGoing">{{ number_of_people_going }}</span>
            </button>
            <br>
            <button type="button" class="btn btn-light btn-xs" style="pointer-events: none; margin-bottom: 2px;
background-color: #f3f2f2 !important;">
                Attending Percentage <span class="badge badge-dark"
                                           id="goingPercentage">{{ going_percentage }}%</span>
            </button>
            <br>
            <button type="button" class="btn btn-light btn-xs" style="pointer-events: none;
background-color: #f3f2f2 !important;">
                OP is Staying? <span class="badge badge-dark"
                                     id="isHostThere">{{ is_host_there }}</span>
            </button>
            <br>
        </div>
        <br>

        <p id="remaining_time_{{ event.id }}" style="white-space: pre-line;">
            <strong>
            </strong>

        <div>at Building:</div>
        <strong>
            <span class="badge badge-info"
                  id="event_building_{{ event.id }}">{{ event.building }}</span>
        </strong>

        <div>in Room:</div>
        <strong>
            <span class="badge badge-info"
                  id="event_room_{{ event.id }}">{{ event.room }}</span>
        </strong>

        <div class="descriptionOptional">
            {% if event.description != "N/A" %}
                <div>Description:
                    <br>
                    <strong>
                        <div class="badge badge-info"
                             id="event_description_{{ event.id }}"
                             style="white-space: pre-line;">{{ event.description }}</div>
                    </strong>
                </div>
            {% endif %}</div>

        <div id="images_{{ event.id }}"></div>


        </p>
        <p id="orignalposter">
            Posted by <strong>{{ event.net_id }}</strong>: <em>{{ event_post_time }} ET </em>
        </p>
    </div>

    <div style="margin-bottom: 1rem">

        <div id=suffix_button_{{ event.id }}>
            {% if event_remaining_minutes > 10 and marker_color != "orange" %}
                <form action="/handleEventFlag" id="flagForm" method="post" enctype="multipart/form-data">
                    <input type="text" class="input-hidden" id="idForFlagging" name="idForFlagging"
                           value="{{ event.id }}">
                </form>
                <button type="submit" id="flagButton" form="flagForm" class="btn btn-primary"
                        onclick="flagWithoutRefresh(); return false">
                    Flag This Event as Ending
                </button>
            {% endif %}
        </div>

        {% if event_remaining_minutes > 0 %}
            <div id="directionsOptional_{{ event.id }}">
                <a id="directionsButton_{{ event.id }}"
                   href="https://www.google.com/maps/dir/?api=1&destination={{ event.latitude }},{{ event.longitude }}"
                   target="_blank"
                   class="btn btn-primary">
                    Get Directions
                </a>
            </div>
        {% endif %}
    </div>
</body>

</html>