<!DOCTYPE html>
<html>

<head>
    <meta charset=UTF-8>
    <title>InfoWindow</title>
</head>

<body>
<div id="marker_content" style="max-width: 310px;">
    <h1 id=firstHeading>
        <strong>
            <div id="event_title_{{ event.id }}">{{ event.title }}</div>
        </strong>
    </h1>
    <div id=bodyContent>


            <span id="going_line_{{ event.id }}">
            Staying at Your Event?
            </span>
            <span>
                <button type="submit" class="btn btn-success btn-xs shadow-none"
                        id="goingButton" form="goingForm" onclick="goingWithoutRefresh(); return false">
                    Yes
                </button>
                <button type="submit" class="btn btn-danger btn-xs"
                        id="goingButton" form="goingForm" onclick="notGoingWithoutRefresh(); return false">
                    No
                </button>
            </span>
        <div id="going_button_{{ event.id }}">
            <form action="/handleGoing" id="goingForm" method="post" enctype="multipart/form-data">
                <input type="text" class="input-hidden" id="idForGoing" name="idForGoing"
                       value="{{ event.id }}">
                <input type="checkbox" id="goingSwitch" name="goingSwitch" hidden>
            </form>
        </div>
        <br>


        <div id="attendance_info_{{ event.id }}">
            <button type="button" class="btn btn-light btn-xs" style="pointer-events: none;margin-bottom: 2px;
            background-color: #f3f2f2 !important;">
                # of People Attending <span class="badge badge-dark"
                                            id="numberOfPeopleGoing">{{ number_of_people_going }}</span>
            </button>
            <br>
            <button type="button" class="btn btn-light btn-xs" style="pointer-events: none; margin-bottom: 2px;
background-color: #f3f2f2 !important;">
                Attending Percentage <span class="badge badge-dark"
                                           id="goingPercentage">{{ going_percentage }}%</span>
            </button>
            <br>
            <button type="button" class="btn btn-light btn-xs" style="pointer-events: none;
background-color: #f3f2f2 !important;">
                Host is Staying <span class="badge badge-dark"
                                      id="isHostThere">{{ is_host_there }}</span>
            </button>
            <br>
        </div>
        <br>

        <p id="remaining_time_{{ event.id }}" style="white-space: pre-line;">
            <strong>
            </strong>

        <div>at Building:</div>
        <strong>
            <span class="badge badge-info"
                  id="event_building_{{ event.id }}">{{ event.building }}</span>
        </strong>

        <div>in Room:</div>
        <strong>
            <span class="badge badge-info"
                  id="event_room_{{ event.id }}">{{ event.room }}</span>
        </strong>

        <div class="descriptionOptional">
            {% if event.description != "N/A" %}
                <div>Description:
                    <br>
                    <strong>
                        <div class="badge badge-info"
                             id="event_description_{{ event.id }}"
                             style="white-space: pre-line;">{{ event.description }}</div>
                    </strong>
                </div>
            {% endif %}</div>

        <div id="images_{{ event.id }}"></div>

        </p>
        <p id="orignalposter">
            Posted by <strong>{{ event.net_id }}</strong>: <em>{{ event_post_time }} EST </em>

        </p>
    </div>
    <div>
        <form action=/handleEventDelete
              id=deleteForm method=post enctype=multipart/form-data>
            <input type=text class=input-hidden id=idForDeletion name=idForDeletion value={{ event.id }}>
        </form>
    </div>
    <div class=mini-footer style="margin-bottom: 1rem">
        <table>
            <tr>
                <td align=left>
                    <form action=/handleEventExtend id="extendForm" method="post" enctype="multipart/form-data"
                          style="width: 100%; height: 100%; margin-top:3px">
                        <div class="input-group" id="minutesExtensionBox" style="width: 100%; height: 100%;">
                            <input type=number class=form-control id=durationOfExtension name=durationOfExtension
                                   value=30 required min=5 max=180>
                            <span id=durationOfExtensionAddOn class="input-group-addon">
                                            min
                            </span>
                        </div>
                        <input type=text class=input-hidden id=idForExtension name=idForExtension
                               value={{ event.id }}>
                    </form>
                </td>
                <td align=right>
                    <button type=submit id="extendButton" form="extendForm" class="btn btn-secondary"
                            style="width:100%; height:100%; vertical-align:top"
                            onclick="extendWithoutRefresh();return false">
                        Extend Your Event
                    </button>
                </td>
            </tr>
            <tr>
                <td align=left>
                    <div style="width:100%; height:100%;">
                        <button type="button" id="editButton" class="btn btn-primary" data-toggle="modal"
                                data-target="#editFormModal" style="width:100%;height:100%;"
                                data-event-id="{{ event.id }}"
                                onclick="">
                            Edit Your Event
                        </button>
                    </div>
                </td>
                <td align=right>
                    <div style="width: 100%; height: 100%;">
                        <button type=submit id="deleteButton" form="deleteForm" class="btn btn-primary"
                                style="width:100%;height:100%;" onclick="deleteWithoutRefresh(); return false">
                            Delete Your Event
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>