<!DOCTYPE html>
<html>

<head>
    <meta charset=UTF-8>
    <title>InfoWindow</title>
</head>

<body>

<!-- About Modal -->
<div class="modal fade" id="newsModal" tabindex="-1" role="dialog" aria-labelledby="newsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="activityModalLabel">News
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <table>
                                                           <tr style="border-bottom: 1px solid #000;border-color: white; margin-bottom: 10px;
                    ">
                        <td style="width: 10rem;vertical-align:top;horiz-align: center">
                            Feb 12, 2022
                        </td>
                        <td style="width: 20rem">
                            <p style="margin-bottom: 10px !important;">Added attendance section within InfoWindows. Keep track of
                                            how many people are going to an event!</p>
                        </td>
                    </tr>
                                       <tr style="border-bottom: 1px solid #000;border-color: white;
                    ">
                        <td style="width: 10rem;vertical-align:top;horiz-align: center; position: relative; top: 10px">
                            Feb 9, 2022
                        </td>
                        <td style="width: 20rem">
                            <p style="margin-bottom: 10px !important;margin-top: 10px !important;">InfoWindows that appear when markers are clicked
                            on are more mobile-friendly by having less horizontal and vertical scrolling.</p>
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid #000;border-color: white;
                    ">
                        <td style="width: 10rem;vertical-align:top;horiz-align: center; position: relative; top: 10px">
                            Feb 7, 2022
                        </td>
                        <td style="width: 20rem">
                            <p style="margin-bottom: 10px !important; margin-top: 10px !important;">Added new "Stats" and "News" tabs. "Number of Users" in the Stats tab has been
                                reset to zero due
                                to restructuring the database to have an additional column
                                for the number of free food events that have been hosted per user. "Number of Notification Subscribers" remains the same as before.</p>
                        </td>
                    </tr>
                </table>
                <div style="height: 2rem;"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
