<!DOCTYPE html>
<html>

    <head>
        <meta charset=UTF-8>
        <title>Welcome</title>
    </head>

    <body>

        <!-- Welcome Modal -->
        <div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeModalLabel"
        aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="welcomeModalLabel">Welcome
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <p>
                            Welcome to food 4 u! 
                            food 4 u is a web app to help the Princeton community better organize distribution and retrieval of
                            free food by highlighting the time and location of free food giveaway events. Our dream is to foster 
                            a culture of sharing on campus and reduce the impact of social events on the environment by reducing 
                            food waste!
                        </p>

                        <h4>
                            Finding Free Food
                        </h4>

                        <p>
                            On the map, you'll see markers with the food 4 u logo in different colors. 
                            These indicate free food events around campus. 
                            <br>
                            - Green: active events
                            <br>
                            - Yellow: active events with less than 10 minutes
                            <br>
                            - Red: ended events
                            <br>
                            <br>
                            Click on a marker to read more information, get directions, or flag an event that has ended.
                        </p>

                        <h4>
                            Adding Free Food
                        </h4>

                        <p>
                            To add free food you find on campus, click "Add Free Food" in the top navigation bar. 
                            <br>
                            - Input the title, building, and room of the food. 
                            <br>
                            - Set the location using your current location (default), clicking on the mini map, or selecting a common building.
                            <br>
                            - Adjust the time the food is available (default: 60 minutes).
                            <br>
                            - Optionally, add up to five photos and a description
                            <br>
                            <br>
                            As the original poster, you can edit the event entirely. 
                            You can also extend the time of an event or delete an event entirely.
                        </p>

                        <h4>
                            Notifications
                        </h4>

                        <p>
                            To subscribe to new event email notifications, click on your netid dropdown in the top right then select "Notification Settings".
                        </p>

                        <h4>
                            Full Tutorial and Features
                        </h4>

                        <p>
                            To view the full tutorial, click on your netid dropdown in the top right then select "Tutorial".
                        </p>

                    </div>

                    <div class="modal-footer">
                        <p>
                            Thank you,<br>
                            Daphne Barretto, Aaron Buck, and Ben Chan
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>